@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  /* Pink Lavendar Color Scheme */
  /* --accent-color: #d2649a;
  --accent-hover-color: #a82866;
  --secondary-color: #7469b6;
  --bg1-color: #40a578;
  --bg2-color: #d2ca5c; 
  --footer-bg-color: #3d3b40;
  --footer-link-color: #949aee;
  */

  /* Dark Blue Color Scheme */
  --accent-color: #525ceb;
  --accent-hover-color: #363fbb;
  --secondary-color: #3d3b40;
  --bg1-color: #bfcfe7;
  --bg2-color: #3d3b40;
  --footer-bg-color: #3d3b40;
  --footer-link-color: #949aee;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  color: var(--accent-color);
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font: inherit;
}

input {
  border: none;
  outline: none;
  font: inherit;
  accent-color: var(--accent-color);
}

body {
  font-family: "Poppins", sans-serif;
  color: #363738;
  display: flex;
  justify-content: center;
  height: 100vh;
  background-image: linear-gradient(
      to bottom right,
      var(--bg1-color),
      var(--bg2-color)
    ),
    url("./img/bg.svg");
}

/* UTILITIES */

.u-strike {
  text-decoration: line-through;
}

.app {
  width: 1000px;
  background: #f0f1f2;
  margin-top: 20px;
  border-radius: 7px;
  display: grid;
  grid-template-columns: 6fr 3fr;
  grid-template-rows: 50px 600px 30px;
  box-shadow: 0 50px 150px rgba(0, 0, 0, 0.5);
}

.header {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  background: var(--secondary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.logo {
  font-weight: bold;
}

.count {
  font-size: 13px;
}

.main {
  grid-column: 1 / 2;
  grid-row: 2 / 3;

  /* scrollbar style */
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) #f0f1f2;
  /* remove the horizontal scroll bar */

  position: relative;
}

.empty__div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.main__header {
  padding: 10px;
  border-bottom: 1px solid rgba(192, 177, 177, 0.3);
  position: absolute;
  width: 100%;
  background: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
}

.todos {
  display: flex;
  flex-direction: column;
  overflow: auto;
  max-height: calc(100% - 50px);
  padding-top: 56px;
}

.todo {
  padding: 10px;
  flex: 1;
  border-bottom: 1px solid rgba(192, 177, 177, 0.3);

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}

.todo:last-child {
  border-bottom: none;
}

.todo__labels {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.todo__checkbox {
  width: 20px;
  height: 20px;
  background: rgba(159, 183, 186, 0.288);
  transition: all 0.3s;
  display: block;
}

.todo__cross {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  background: rgba(159, 183, 186, 0.288);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: all 0.3s;
}

.todo__cross:hover {
  background: #ffaa80;
}

.sidebar {
  grid-column: 2 / -1;
  grid-row: 2 / 3;
  padding: 20px;
  background: rgba(112, 128, 144, 0.2);
  border-left: 1px solid rgba(192, 177, 177, 0.1);

  display: flex;
  flex-direction: column;
}

.add__todo__block {
  display: grid;
  gap: 10px;
}

.add__todo__title {
  font-weight: bold;
  display: block;
}

.todo__input {
  display: block;
  width: 100%;
  border-radius: 7px;
  padding: 7px 12px;
}

.todo__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  font-style: italic;
  font-weight: bold;
}

.button__group {
  display: grid;
  gap: 10px;
  margin-top: auto;
}

.btn {
  background: var(--accent-color);
  border-radius: 7px;
  padding: 7px 10px;
  color: rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 13px;
  transition: all 0.3s;
}

.todo__button {
  background: var(--accent-color);
  border-radius: 7px;
  padding: 7px 10px;
  font-size: 15px;
  font-weight: bold;
}

.btn:hover {
  background: var(--accent-hover-color);
  color: #fff;
}

.footer {
  grid-column: 1 / -1;
  grid-row: 3 / 4;
  color: rgba(255, 255, 255, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
  font-size: 12px;
  background: #333;
  padding: 10px;
}

.footer a {
  color: var(--footer-link-color);
}

/* MEDIA QUERIES */

@media (max-width: 1000px) {
  .app {
    width: calc(100vw - 20px);
    height: calc(100vh - 25px);
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (max-width: 700px) {
  .app {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto auto;
    margin: 0;
    width: 100vw;
    height: auto;
  }

  .header {
    grid-column: initial;
    grid-row: initial;
    flex-direction: column;
    padding: 10px;
    row-gap: 7px;
  }

  .main {
    grid-column: initial;
    grid-row: initial;
    min-height: 300px;
  }

  .todos {
    max-height: auto;
    padding-top: initial;
  }

  .empty__div {
    min-height: 200px;
  }

  .sidebar {
    grid-column: initial;
    grid-row: initial;
    height: auto;
    row-gap: 20px;
  }

  .todo__input {
    padding-block: 10px;
  }

  .btn {
    padding: 15px 10px;
    font-size: 14px;
  }

  .main__header {
    position: initial;
    background: none;
  }

  .footer {
    grid-column: initial;
    grid-row: initial;
  }

  .app,
  .header,
  .footer {
    border-radius: 0;
  }
}
